<h3>Statistics</h3>
<a href="<%= root_url %>" class="btn btn-lg btn-primary">Deal Again</a>

<table class="table">
  <thead>
    <tr>
      <th>Games</th>
      <th>Players</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each_with_index do |game, index| %>
      <tr>
        <td><h5>Game <%= index %></h5></td>
        <td>
        <% game.game_players.each do |game_player| %>
          <p><%= game_player.player.name %>: <%= game_player.points %></p>
        <% end %>
        </td>
        <td>
          <% game_winner(game.game_players) do |winner| %>
            <h3><%= winner.player.name %> / <%= winner.points %></h3>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
