// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards-list {
  .card {
    hr {
      border-color: #333;
    }
  }
}
